@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<br />
<br />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<a class="btn btn-primary btn-sm" href="/Customer/Index/"><i class="fa fa-users fa-lg"></i> User Managment</a>
<a class="btn btn-primary btn-sm" href="/Invoice/Index/"><i class="fa fa-receipt"></i>Invoice Mangement</a>

