@model IEnumerable<DemoInvoice.ViewModel.InvoiceViewModel>

@{
    ViewBag.Title = "Index";
}

    <center><h2>Invoice</h2></center>

<p>
    <a class="btn btn-primary btn-sm" href="/Invoice/Create/"><i class="fa fa-plus fa-lg"></i></a>
</p>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PurchaseOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvoiceDate)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
    <style>
        tr.even {
            background-color: #F5F5F5 !important;
        }
    </style>
    @* Load datatable css *@
    <link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @* Load datatable js *@
    @section Scripts{
        <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#myTable').DataTable({
                    "ajax": {
                        "url": "/Invoice/Loaddata",
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "CompanyName", "autoWidth": true },
                        { "data": "CustomerName", "autoWidth": true },
                        { "data": "PurchaseOrder", "autoWidth": true },
                        { "data": "InvoiceDate", "autoWidth": true },
                        {
                            "render": function (data, type, full, meta) { return '<a class="btn btn-info" href="/Invoice/Create/' + full.InvoiceId + '"><i class="fa fa-pencil fa-lg"></i></a>'; }
                        },
                        {
                            "render": function (data, type, full, meta) { return '<a class="btn btn-info" href="/Invoice/Preview/' + full.InvoiceId + '"><i class="fa fa-print" aria-hidden="true"></i></a>'; }
                        },
                    ]
                });
            });
        </script>
    }
